/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/css
/public/js
/public/fonts
/public/mix-manifest.json
/public/sw.js
/storage/reports
/.vagrant
/docker
.DS_Store
.influxdb
.influxmount
.redis
/public/vendor
supervisord.*
!supervisord.sh
/id_rsa
provision/caddy/tls/*
provision/caddy/caddyfile
.docker-sync
mysql/logs/*.log
/public/VERSION
/storage/clockwork
/provision/caddy/Caddyfile
/public/build
manifest.json
.php-cs-fixer.cache
cert.pem
/reports
/stan_tmp
/docs/.vitepress/cache
*.pfx
/.phpunit.cache
/clover.xml
/draft.yaml
/.blueprint
/.editorconfig
